<!DOCTYPE html>
<html>
<head><title>Vulnerable App</title></head>
<body>
<h2>Login</h2>
<form action="/login" method="post">
  Username: <input name="username"><br>
  Password: <input name="password"><br>
  <input type="submit" value="Login">
</form>

<h2>XSS Test</h2>
<form action="/xss" method="post">
  Comment: <input name="comment"><br>
  <input type="submit" value="Submit">
</form>

<h2>File Upload</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
  File: <input type="file" name="file"><br>
  <input type="submit" value="Upload">
</form>
</body>
</html>
